<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
      http://www.springframework.org/schema/context    
      http://www.springframework.org/schema/context/spring-context-3.1.xsd    
      http://www.springframework.org/schema/mvc    
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!--请求拦截后，交给对应 请求处理操作后，根据返回结果，拼接响应页面路径 prefix+返回值+suffix ==>/page/success.html -->
		<property name="prefix" value="/page/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!--默认静态资源的请求处理 可以处理js文件 -->
	<mvc:default-servlet-handler />
	<!--开启mvc注解,控制器驱动处理 ,包括数据类型转换，数据格式化 -->
	<mvc:annotation-driven />
</beans> 